# fonts
font_family "{{ .fonts.mono.family }}"
font_size {{ .fonts.mono.size }}
disable_ligatures never
adjust_line_height 110%

# windows
remember_window_size  yes
window_padding_width 6
hide_window_decorations titlebar-only
confirm_os_window_close 0

# opacity
background_opacity 0.85
dynamic_background_opacity yes

# advanced
editor .
shell_integration enabled
#shell zsh -l -c "nu"

# os specific
macos_option_as_alt left
macos_quit_when_last_window_closed no
