local wezterm = require("wezterm")

-- Setup config builder
local config = {}
if wezterm.config_builder then
	config = wezterm.config_builder()
end
config:set_strict_mode(true)

config.font = wezterm.font("{{ .fonts.mono.family }}", { weight = {{ .fonts.mono.weight }} })
config.font_size = {{ .fonts.mono.size }}
config.line_height = 1.5
config.bold_brightens_ansi_colors = "BrightAndBold"
config.hide_tab_bar_if_only_one_tab = true
config.quit_when_all_windows_are_closed = true
config.window_close_confirmation = "NeverPrompt"
config.window_decorations = "RESIZE"
config.adjust_window_size_when_changing_font_size = false
config.allow_square_glyphs_to_overflow_width = "WhenFollowedBySpace"
config.window_padding = {
	top = "16px",
	bottom = "4px",
	left = "12px",
	right = "12px",
}
config.command_palette_font_size = 16

-- Color scheme
local function get_appearance()
	if wezterm.gui then
		return wezterm.gui.get_appearance()
	end
	return "Dark"
end

local lights = {
	{ "Ef-Maris-Light", 0.85, 20 },
	{ "Ef-Cyprus", 0.85, 20 },
	{ "Bluloco Light (Gogh)", 0.85, 20 },
	{ "Ef-Deuteranopia-Light", 0.8, 10 },
	{ "Ef-Day", 0.8, 10 },
	{ "Ef-Duo-Light", 0.8, 10 },
	{ "Ef-Frost", 0.8, 10 },
	{ "Ef-Kassio", 0.8, 10 },
	{ "Ef-Light", 0.8, 10 },
	{ "Ef-Melissa-Light", 0.8, 10 },
	{ "Ef-Trio-Light", 0.8, 10 },
	{ "Ef-Tritanopia-Light", 0.8, 10 },
	{ "Ef-Spring", 0.8, 10 },
	{ "Gruvbox light, soft (base16)", 0.8, 10 },
	{ "Harmonic16 Light (base16)", 0.8, 10 },
	{ "iceberg-light", 0.8, 10 },
	{ "Ef-Summer", 0.8, 10 },
	{ "Modus-Operandi", 0.7, 10 },
	{ "Modus-Operandi-Tinted", 0.7, 10 },
	{ "Selenized Light (Gogh)", 0.8, 10 },
	{ "seoulbones_light", 0.8, 10 },
	{ "Solarized Light (Gogh)", 0.8, 10 },
	{ "tokyonight_day", 0.8, 10 },
	{ "Tomorrow (Gogh)", 0.8, 10 },
	{ "zenwritten_light", 0.8, 10 },
}

local darks = {
	{ "Woodland (base16)", 0.7, 15 },
	{ "Bim", 0.8, 10 },
	{ "Wryan", 0.8, 10 },
	{ "rose-pine-moon", 0.8, 20 },
	{ "ayu", 0.8, 10 },
	{ "Jellybeans", 0.8, 10 },
	{ "Ef-Winter", 0.8, 15 },
	{ "Ef-Autumn", 0.7, 15 },
	{ "terafox", 0.75, 14 },
	{ "Vice Dark (base16)", 0.8 },
	{ "Belafonte Night", 0.8, 15 },
	{ "Banana Blueberry", 0.7, 15 },
	{ "Argonaut", 0.8, 15 },
	{ "Adventure Time (Gogh)", 0.9, 5 },
	{ "Urple", 0.7, 5 },
	{ "wilmersdorf" },
	{ "Website (Gogh)" },
	{ "Vacuous 2 (terminal.sexy)" },
	{ "Vice Alt (base16)" },
	{ "Rasi (terminal.sexy)" },
	{ "Molokai" },
	{ "Catppuccin Mocha" },
	{ "UnderTheSea" },
}

local function scheme_for_appearance(appearance)
	if appearance:find("Dark") then
		return darks[1]
	else
		return lights[1]
	end
end

config.color_scheme = scheme_for_appearance(get_appearance())[1]
config.window_background_opacity = scheme_for_appearance(get_appearance())[2] or 1.0
config.macos_window_background_blur = scheme_for_appearance(get_appearance())[3] or 0

wezterm.on("window-config-reloaded", function(window, pane)
	local overrides = window:get_config_overrides() or {}
	overrides.color_scheme = scheme_for_appearance(get_appearance())[1]
	window:set_config_overrides(overrides)
end)

-- Keybindings
config.enable_kitty_keyboard = true

config.keys = {
	{
		key = "Escape",
		mods = "NONE",
		action = wezterm.action({ SendString = "\x1b" }),
	},
}

local disable_defaults = {
	{ "Enter", "ALT" },
	{ "Enter", "SHIFT" },
}

for _, kp in ipairs(disable_defaults) do
	table.insert(config.keys, {
		key = kp[1],
		mods = kp[2],
		action = wezterm.action.DisableDefaultAssignment,
	})
end

return config
