#!/usr/bin/env zsh

{{ $filename := "sketchybar.ini" -}}
{{ $filepath := joinPath .xdg.configDir "sketchybar" $filename -}}
# ini hash: {{ $filepath | include | sha256sum }}

{{ if eq .chezmoi.os "darwin" }}
mkdir -p /opt/homebrew/etc/supervisor.d
rm -rf /opt/homebrew/etc/supervisor.d/sketchybar.ini
cp {{ $filepath }} /opt/homebrew/etc/supervisor.d/{{ $filename }}
supervisorctl reread
supervisorctl update sketchybar
supervisorctl restart sketchybar
{{ end }}
