#!/usr/bin/env bash

# brewfile hash: {{ joinPath .chezmoi.sourceDir "dot_config" "homebrew" "Brewfile" | include | sha256sum }}

{{ if lookPath "brew" | not -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end -}}

{{ if lookPath "pueue" -}}
pueue add brew bundle --global --no-upgrade
{{ else -}}
brew bundle --global --no-upgrade
{{ end -}}
