{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "bat"
brew "curl"
brew "git"
brew "lolcat"
brew "lsd"
brew "keychain"
brew "overmind"
brew "neofetch"
brew "tmux"
brew "wget"
brew "zsh"
cask "docker"
EOF
{{ end -}}
