#!/usr/bin/env bash

{{ if ne .chezmoi.hostname "kocaeli" }}
echo "not installing personal glance here"
exit 0
{{ end }}

{{ $src := joinPath .xdg.configDir "glance" "glance.ini" -}}
{{ $nginx := joinPath .xdg.configDir "glance" "nginx.conf" -}}
# ini hash: {{ $src | include | sha256sum }}
# nginx hash: {{ $nginx | include | sha256sum }}

ln -sf "{{ $src }}" /opt/homebrew/etc/supervisor.d/glance.ini
{{ if eq .chezmoi.os "darwin" }}
ln -sf {{ $nginx }} /opt/homebrew/etc/nginx/servers/glance.conf
{{ end }}

{{ if not (lookPath "supervisorctl") }}
{{- if eq .chezmoi.os "darwin" }}
brew install supervisor
brew bundle --global dump --force
{{- end }}
{{- end }}

if supervisorctl add glance; then
  echo "Added glance to supervisor"
fi
supervisorctl status

{{- /* vim: ft=tmpl.bash
*/ -}}
