#!/usr/bin/env bash
{{- /* vim: ft=tmpl.bash */}}

{{- if eq .chezmoi.hostname "kocaeli" }}
  {{- $path := joinPath .xdg.cacheDir "chezmoi" "hosts-darwin" }}
  # hosts hash: {{ $path | include | sha256sum }}

  {{ if ne $path "" -}}
  sudo {{.chezmoi.executable}} execute-template \
    --file {{ $path }} \
    --output /etc/hosts
  {{- end -}}
{{- end }}

