#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
if ! command -v brew 2>&1 > /dev/null && [ ! -d /opt/homebrew/bin ]; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}

# vim: ft=zsh.tmpl
