{{- .nushell.shebang }}

{{ if eq .chezmoi.hostname "kocaeli" }}
sudo {{ .chezmoi.executable }} execute-template --file {{ joinPath .chezmoi.sourceDir ".chezmoitemplates" "hosts-darwin.tmpl" }} --output /etc/hosts
{{ end }}
