#!/usr/bin/env zsh

{{ $filename := "sketchybar.ini" -}}
{{ $filepath := .xdg.configDir | joinPath "sketchybar" $filename -}}
# ini hash: {{ $filepath | include | sha256sum }}

{{ if eq .os.arch "darwin" }}
mkdir -p /opt/homebrew/etc/supervisor.d
rm -rf /opt/homebrew/etc/supervisor.d/sketchybar.ini
cp {{ $filepath }} /opt/homebrew/etc/supervisor.d/{{ $filename }}
{{ end }}
