#!/usr/bin/env -S {{ .mise.exe }} exec aqua:nushell/nushell@0.106.1 -- nu
# vim: ft=nu

use {{ .nushell.libDir }}/catppuccin.nu

{
  style: round
  width: 8.0
  hidpi: on
  active_color: (catppuccin color --argb mauve)
  inactive_color: (catppuccin color --argb base --alpha 88)
}
| items {|k, v| [$k $v] | str join "="}
| run-external borders ...$in
