#!/usr/bin/env {{ .xdg.configDir }}/borders/nu-wrapper
# vim: ft=nu

use catppuccin.nu

{
  style: round
  width: 8.0
  hidpi: on
  active_color: (catppuccin color --argb pink)
  inactive_color: (catppuccin color --argb surface0)
}
| items {|k, v| [$k $v] | str join "="}
| run-external borders ...$in
