#!/usr/bin/env -S {{ .chezmoi.homeDir }}/.local/bin/mise aqua:nushell/nushell@0.106.1 -- nu
# vim: ft=nu

use catppuccin.nu

{
  style: round
  width: 8.0
  hidpi: on
  active_color: (catppuccin color --argb pink)
  inactive_color: (catppuccin color --argb surface0)
}
| items {|k, v| [$k $v] | str join "="}
| run-external borders ...$in
