encryption = "age"

[gpg]
recipient = "FD235DFD"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1y5xgp4msrrhylvla0hcm7srsfjeql56p4ugfwsl89wsjs92vkvts3u5xxa"

[git]
autoAdd = true
autoCommit = true
autoPush = true

[cd]
{{ if lookPath "nu" -}}
command = "nu"
{{ else if lookPath "fish" -}}
command = "fish"
{{- end }}

[diff]
{{ if lookPath "difft" -}}
command = "difft"
args = ["--color", "always", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "delta" -}}
command = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else -}}
command = "diff"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{- end }}
pager = "less -FR"

[merge]
{{ if lookPath "nvim" }}
command = "nvim"
args = [ "-c", "'+norm gg'", "-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end }}

[edit]
{{ if lookPath "nvim" }}
command = "nvim"
args = ["-c", "cd {{ .chezmoi.sourceDir }}"]
watch = false
apply = false
{{ end }}

[data.mise]
configDir = "{{ .chezmoi.homeDir }}/.config/mise"
shimsDir = "{{ .chezmoi.homeDir }}/.local/share/mise/shims"

# [status]
# exclude = ["scripts"]

# vim: ft=tmpl.toml
