{{- if ne .chezmoi.os "darwin" -}}

[".asdf"]
type = "git-repo"
url = "https://github.com/asdf-vm/asdf.git"
refreshPeriod = "24h"
clone.args = ["--branch", "v0.12.0"]
pull.args = ["origin", "v0.12.0"]

{{- end -}}

[".zprezto"]
type = "git-repo"
url = "https://github.com/theutz/prezto"
refreshPeriod = "1h"

[".zprezto".clone]
args = ["--recursive"]

[".zprezto-contrib"]
type = "git-repo"
url = "https://github.com/theutz/prezto-contrib"
refreshPeriod = "1h"

[".config/kitty/themes/kanagawa.conf"]
type = "file"
url = "https://raw.githubusercontent.com/rebelot/kanagawa.nvim/master/extras/kanagawa.conf"
refreshPeriod = "168h"

[".config/kitty/themes/kanagawa_light.conf"]
type = "file"
url = "https://raw.githubusercontent.com/rebelot/kanagawa.nvim/master/extras/kanagawa_light.conf"
refreshPeriod = "168h"

[".config/kitty/themes/kanagawa_dragon.conf"]
type = "file"
url = "https://raw.githubusercontent.com/rebelot/kanagawa.nvim/master/extras/kanagawa_dragon.conf"
refreshPeriod = "24h"

[".config/alacritty/themes"]
type = "archive"
url = "https://github.com/alacritty/alacritty-theme/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
include = ["*/themes/**", "*.yaml"]

# vim: ft=tmpl.toml
