# vim: ft=tmpl.toml
{{ $xdg := (dict
  "configDir" (joinPath .chezmoi.homeDir ".config")
  "dataDir" (joinPath .chezmoi.homeDir ".local" "share")
  "stateDir" (joinPath .chezmoi.homeDir ".local" "state")
  "cacheDir" (joinPath .chezmoi.homeDir ".cache")
  )
-}}
encryption = "age"
sourceDir = "{{ .chezmoi.homeDir }}/dotfiles"
interactive = true

[gpg]
recipient = "FD235DFD"

[age]
identities = [
  '{{ joinPath $xdg.configDir "chezmoi" "keys" "personal.txt" }}',
  '{{ joinPath $xdg.configDir "chezmoi" "keys" "delegator.txt" }}'
]
recipients = [
  "age1y5xgp4msrrhylvla0hcm7srsfjeql56p4ugfwsl89wsjs92vkvts3u5xxa",
  "age12kvky80hkmhhftqxwhytkte6vfus7yy9n2uay3kt3zs7yp9pt4rsf6q2qp"
]

[git]
autoAdd = true
autoCommit = true
autoPush = true

[diff]
{{ if lookPath "difft" -}}
command = "difft"
args = ["--color", "always", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else if lookPath "delta" -}}
command = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else -}}
command = "diff"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{- end }}
pager = "less -FR"

[merge]
{{- if lookPath "nvim" }}
command = "nvim"
args = [ "-c", "+':norm gg'", "-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end }}

[edit]
{{- if lookPath "nvim" }}
command = "nvim"
args = ["-c", "cd {{ .chezmoi.sourceDir }}"]
{{ end }}
watch = false
apply = true

[data.xdg]
configDir = "{{ $xdg.configDir }}"
dataDir = "{{ $xdg.dataDir }}"
stateDir = "{{ $xdg.stateDir }}"
cacheDir = "{{ $xdg.cacheDir }}"

{{
  $mise := (dict
    "exe" (joinPath .chezmoi.homeDir ".local" "bin" "mise")
    "configDir" (joinPath $xdg.configDir "mise")
    "shimsDir" (joinPath $xdg.dataDir "mise" "shims")
  )
-}}
[data.mise]
exe = "{{ $mise.exe }}"
configDir = "{{ $mise.configDir }}"
shimsDir = "{{ $mise.shimsDir }}"

[data.nushell]
{{- $nu := (dict "dir" (joinPath $xdg.configDir "nushell")) }}
{{- $_ := (set $nu "envFile" (joinPath $nu.dir "env.nu")) }}
{{- $_ := (set $nu "configFile" (joinPath $nu.dir "config.nu")) }}
{{- $_ := (set $nu "libDir" (joinPath $nu.dir "scripts")) }}
{{- $_ := (set $nu "exe" (cat $mise.exe "exec" "nushell@0.109.1" "--" "nu")) }}
configDir = "{{ $nu.dir }}"
configFile = "{{ $nu.configFile }}"
envFile = "{{ $nu.envFile }}"
libDir = "{{ $nu.libDir }}"
exe = "{{ $nu.exe }}"
shebang = "#!/usr/bin/env -S {{ $nu.exe }}"
