{{ if ne .chezmoi.os "darwin" -}}
[".asdf"]
type = "git-repo"
url = "https://github.com/asdf-vm/asdf.git"
refreshPeriod = "24h"
clone.args = ["--branch", "v0.12.0"]
pull.args = ["origin", "v0.12.0"]
{{- end }}

[".zprezto"]
type = "git-repo"
url = "https://github.com/theutz/prezto"
refreshPeriod = "1h"

[".zprezto".clone]
args = ["--recursive"]

[".zprezto-contrib"]
type = "git-repo"
url = "https://github.com/theutz/prezto-contrib"
refreshPeriod = "1h"

[".config/nvim"]
type = "git-repo"
url = "https://github.com/theutz/nvim"
refreshPeriod = "1h"

# vim: ft=tmpl.toml
