[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FMRiX
[user]
	name = Michael Utz
	email = michael@theutz.com
	signingkey = BD7D79C1
[credential]
	helper = osxkeychain
[submodule]
	ignore = dirty
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = theutz
[hub]
	protocol = https
[pull]
	ff = only
	rebase = false
[rebase]
	autosquash = true
	autostash = true
[commit]
	verbose = true
	gpgSign = true

# Merge / Mergetool
[merge]
	tool = vimdiff
	ff = false
	conflictstyle = diff3
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	trustExitCode = true
[mergetool "nfugitive"]
	cmd = nvim -f -c "Gdiff" "$MERGED"
	trustExitCode = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "emacs"]
	cmd = emacs --eval $MERGED
[mergetool "emacsclient"]
	cmd = emacsclient -c -a '' --eval $MERGED
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

# Diff
[diff]
	tool = nvimdiff2
[difftool]
	prompt = false
	trustExitCode = true
[difftool "nvimdiff2"]
	cmd = nvim -d $LOCAL $REMOTE
	trustExitCode = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "emacs"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "emacsclient"]
	cmd = emacsclient -c -a '' --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

# Aliases
[alias]
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[init]
	defaultBranch = main
[tag]
	gpgSign = true
