# ssh
home/.ssh
!home/.ssh/config

# karabiner
home/.config/karabiner/automatic_backups

# config
home/.config/configstore/update-notifier-npm.json
home/.config/yarn
home/.config/spotify-tui/
home/.config/telepresence
/home/.tmux/resurrect/
home/.config/configstore
/.log/

# github cli
home/.config/gh/state.yml

# coc.nvim
home/.config/coc/*
!home/.config/coc/extensions
home/.config/coc/extensions/*
!home/.config/coc/extensions/package.json
!/home/.config/coc/extensions/yarn.lock

# Google Cloud
home/.config/gcloud/
