[submodule "home/.zprezto"]
	path = .zprezto
	url = https://github.com/theutz/prezto.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/theutz/nvim.git
[submodule ".hammerspoon"]
	path = .hammerspoon
	url = https://github.com/theutz/.hammerspoon.git
[submodule ".config/ranger"]
	path = .config/ranger
	url = https://github.com/theutz/ranger.git
[submodule "bin"]
	path = bin
	url = https://github.com/theutz/bin.git
