# ssh
home/.ssh
!home/.ssh/config

# karabiner
home/.config/karabiner/automatic_backups

# config
home/.config/configstore/update-notifier-npm.json
home/.config/yarn
home/.config/spotify-tui/
home/.config/telepresence