[submodule "prezto/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/theutz/prezto
[submodule "emacs/chemacs"]
	path = emacs/.chemacs
	url = https://github.com/plexus/chemacs
[submodule "emacs/.doom-emacs"]
	path = emacs/.doom-emacs
	url = https://github.com/hlissner/doom-emacs
