# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# When jobs are disowned, they're continued automatically
setopt AUTO_CONTINUE

# Enable starship prompt
if command -v dark-mode &>/dev/null; then
    if [[ "$(dark-mode status)" =~ "off" ]]; then
        export STARSHIP_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/starship/rose-pine/rose-pine-dawn.toml"
    else
        export STARSHIP_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/starship/rose-pine/rose-pine.toml"
    fi
fi
