{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
tap "charmbracelet/tap"
tap "dopplerhq/cli"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "homebrew/services"
tap "olets/tap"
tap "shivammathur/php"

brew "age"
brew "asdf"
brew "atuin"
brew "automake"
brew "awk"
brew "bash"
brew "bat"
brew "bats-core"
brew "boxes"
brew "broot"
brew "btop"
brew "cheat"
brew "chezmoi"
brew "composer"
brew "coreutils"
brew "cowsay"
brew "dnsmasq"
brew "dopplerhq/cli/doppler"
brew "duf"
brew "exercism"
brew "fd"
brew "figlet"
brew "fortune"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "go"
brew "gum"
brew "htop"
brew "http-prompt"
brew "httpie"
brew "imagemagick"
brew "jq"
brew "lazydocker"
brew "lazygit"
brew "libpq"
brew "libyaml"
brew "linode-cli"
brew "lnav"
brew "logrotate"
brew "lolcat"
brew "lsd"
brew "mailhog", restart_service: true
brew "mas"
brew "mods"
brew "monolith"
brew "mosh"
brew "mycli"
brew "mysql", restart_service: true
brew "nb"
brew "neofetch"
brew "neovim"
brew "nginx"
brew "noti"
brew "overmind"
brew "php"
brew "php@8.0"
brew "php@8.1"
brew "python@3.11"
brew "ranger"
brew "redis", restart_service: true
brew "ripgrep"
brew "starship"
brew "subversion"
brew "tldr"
brew "tmux"
brew "tmuxp"
brew "tree"
brew "yarn"
brew "zoxide"
brew "zsh-abbr"
brew "zsh-lovers"

cask "1password-cli"
cask "chromedriver"
cask "chromium"
cask "dash"
cask "discord"
cask "docker"
cask "dropbox"
cask "element"
cask "figma"
cask "font-blex-mono-nerd-font"
cask "font-ibm-plex-mono"
cask "google-chrome"
cask "google-drive"
cask "gpg-suite"
cask "helo"
cask "httpie"
cask "insomnia"
cask "iterm2"
cask "kaleidoscope"
cask "karabiner-elements"
cask "kitty"
cask "ngrok"
cask "nordvpn"
cask "openvpn-connect"
cask "ray"
cask "slack"
cask "spotify"
cask "surfshark"
cask "telegram"
cask "tinkerwell"
cask "transmit"
cask "visual-studio-code"
cask "whatsapp"
cask "zoom"
EOF
{{ end -}}
