#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "centos" }}
{{- if eq .chezmoi.osRelease.versionID "7" -}}
sudo yum update -y &&
  sudo yum install -y epel-release \
    yum-utils \
    git &&
  curl --location --output age.tar.gz 'https://dl.filippo.io/age/latest?for=linux/amd64' &&
    tar xzf age.tar.gz &&
    mv age/age age/age-keygen ~/bin &&
    rm -rf age.tar.gz age
{{- end }}
{{- end }}
{{- end }}

# vim: ft=template
