{{ $active := index .theme 7 | trimPrefix "#" -}}
{{ $inactive := index .theme 15 | trimPrefix "#" -}}
{{ $args := (list
  "active_color" (print "0xff" $active)
  "inactive_color" (print "0xff" $inactive)
  "width" "8.0"
  "hidpi" "true"
  "style" "square"
) | chunk 2 -}}
borders {{- range $a := $args }} {{ index $a 0 }}={{ index $a 1 }}{{ end }}
