{{ $active := index .theme 14 | trimPrefix "#" -}}
{{ $inactive := index .theme 5 | trimPrefix "#" -}}
{{ $args := (list
  "active_color" (print "0xaa" $active)
  "inactive_color" (print "0xaa" $inactive)
  "blur_radius" 16.0
  "width" "12.0"
  "hidpi" "true"
  "style" "round"
) | chunk 2 -}}
borders {{- range $a := $args }} {{ index $a 0 }}={{ index $a 1 }}{{ end }}
