encryption = "age"

[gpg]
recipient = "FD235DFD"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1y5xgp4msrrhylvla0hcm7srsfjeql56p4ugfwsl89wsjs92vkvts3u5xxa"

[git]
autoAdd = true
autoCommit = true
autoPush = true

{{ if lookPath "fish" -}}
[cd]
command = "fish"
{{- end }}

{{ if lookPath "delta" -}}
[diff]
pager = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
exclude = ["scripts"]
{{- end }}

{{ if lookPath "nvim" }}
[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[edit]
command = "nvim"
args = ["-c", "cd {{ .chezmoi.sourceDir }}"]
watch = false
apply = false
{{ end }}

# vim: ft=tmpl.toml
