encryption = "age"

[gpg]
recipient = "FD235DFD"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1y5xgp4msrrhylvla0hcm7srsfjeql56p4ugfwsl89wsjs92vkvts3u5xxa"

[git]
autoAdd = true
autoCommit = true
autoPush = true

[cd]
{{ if lookPath "fish" -}}
command = "fish"
{{- end }}

[diff]
{{ if lookPath "delta" -}}
pager = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{- end }}
exclude = ["scripts"]

[merge]
{{ if lookPath "nvim" }}
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end }}

[edit]
{{ if lookPath "nvim" }}
command = "nvim"
args = ["-c", "cd {{ .chezmoi.sourceDir }}"]
watch = false
apply = false
{{ end }}

[status]
exclude = ["scripts"]

# vim: ft=tmpl.toml
