[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FMRiX
[user]
	name = Michael Utz
	email = michael@theutz.com
[credential]
	helper = osxkeychain
[submodule]
	ignore = dirty
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = theutz
[hub]
	protocol = https
[pull]
	ff = only
	rebase = false
[rebase]
	autosquash = true
	autostash = true
[commit]
	verbose = true

# Merge / Mergetool
[merge]
	tool = emerge
	ff = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "emacs"]
	cmd = emacs --eval $MERGED
[mergetool "emacsclient"]
	cmd = emacsclient -c -a '' --eval $MERGED
[mergetool]
	keepBackup = false

# Diff
[diff]
	tool = ediff
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "emacs"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "emacsclient"]
	cmd = emacsclient -c -a '' --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

# Aliases
[alias]
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
