tap "dopplerhq/cli"
tap "f1bonacc1/tap"
brew "age"
brew "atuin"
brew "bash"
brew "bat"
brew "bats-core"
brew "bob"
brew "broot"
brew "gcc"
brew "btop"
brew "cheat"
brew "chezmoi"
brew "eza"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "glow"
brew "gnu-sed"
brew "gnupg"
brew "gping"
brew "grep"
brew "gum"
brew "htop"
brew "jq"
brew "ijq"
brew "just"
brew "lazygit"
brew "lesspipe"
brew "lf"
brew "lnav"
brew "logrotate"
brew "lolcat"
brew "mods"
brew "mosh"
brew "ripgrep"
brew "neofetch"
brew "nushell"
brew "tmux"
brew "rsync"
brew "sevenzip"
brew "ssh-copy-id"
brew "starship"
brew "tldr"
brew "tree"
brew "tz"
brew "ugrep"
brew "unar"
brew "vim"
brew "watchexec"
brew "wget"
brew "yq"
brew "zoxide"
brew "zsh"
brew "zsh-lovers"
brew "dopplerhq/cli/doppler"
brew "f1bonacc1/tap/process-compose"
{{ if eq .chezmoi.os "darwin" -}}
brew "php"
brew "composer"

cask "1password-cli"
cask "aerospace"
cask "firefox"
cask "google-chrome"
cask "hammerspoon"
cask "mullvadvpn"
cask "neovide"
cask "wezterm"
{{- end }}
