# vim: fdm=marker fdl=1 fmr=\ »»»,\ «««

{{ if eq .chezmoi.os "linux" }}
# homebrew »»»
eval "$(brew --prefix)/bin/brew shellenv"
#  «««
{{ end }}

# history »»»
export HISTFILE="${XDG_STATE_HOME}"/bash/history
#  «««

# fzf »»»
[ -f ~/.fzf.bash ] && source ~/.fzf.bash
#  «««

# rust »»»
. "$HOME/.cargo/env"
#  «««

# asdf
. "$(brew --prefix asdf)/libexec/asdf.sh)"
