tap "abhimanyu003/sttr"
tap "achannarasappa/tap"
tap "alajmo/sake"
tap "cormacrelf/tap"
tap "d12frosted/emacs-plus"
tap "dopplerhq/cli"
tap "dzfrias/formulae"
tap "f1bonacc1/tap"
tap "felixkratz/formulae"
tap "gitguardian/tap"
tap "goreleaser/tap"
tap "gptscript-ai/tap"
tap "hashicorp/tap"
tap "homebrew/aliases"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/test-bot"
tap "jfryy/tap"
tap "jorgerojas26/lazysql"
tap "knqyf263/pet"
tap "koekeishiya/formulae"
tap "kojix2/brew"
tap "lucaspickering/tap"
tap "nikitabobko/tap"
tap "noahgorstein/tap"
tap "oven-sh/bun"
tap "railwaycat/emacsmacport"
tap "rsteube/tap"
tap "shivammathur/php"
tap "socsieng/tap"
tap "timothyye/tap"
tap "tsonglew/dutis", "https://github.com/tsonglew/dutis"
tap "xwmx/taps"
brew "age"
brew "node"
brew "aicommits"
brew "jpeg-xl"
brew "atuin"
brew "bash"
brew "bat"
brew "bats-core"
brew "bob"
brew "broot"
brew "gcc"
brew "btop"
brew "glib"
brew "cheat"
brew "chezmoi"
brew "cmake"
brew "libavif"
brew "php"
brew "composer"
brew "dark-mode"
brew "direnv"
brew "dnsmasq", restart_service: true
brew "duf"
brew "duti"
brew "eza"
brew "fd"
brew "harfbuzz"
brew "openjpeg"
brew "libb2"
brew "libass"
brew "pango"
brew "tesseract"
brew "ffmpeg"
brew "ffmpegthumbnailer"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "glow"
brew "gnu-sed"
brew "gnupg"
brew "hunspell"
brew "qt"
brew "gnuplot"
brew "gping"
brew "librsvg"
brew "graphviz"
brew "grep"
brew "gum"
brew "htop"
brew "httpie", link: false
brew "jq"
brew "ijq"
brew "libheif"
brew "imagemagick"
brew "lazygit"
brew "lesspipe"
brew "lf"
brew "libgccjit"
brew "libxml2"
brew "llvm"
brew "lnav"
brew "logrotate"
brew "lolcat"
brew "lorem"
brew "luarocks"
brew "mariadb", link: false
brew "mas"
brew "mise"
brew "mods"
brew "mosh"
brew "mysql"
brew "mysql@8.4"
brew "neofetch"
brew "nginx"
brew "numpy"
brew "nushell"
brew "openvino"
brew "p7zip"
brew "php@8.2"
brew "pinentry-mac"
brew "pnpm"
brew "proctools"
brew "python@3.11"
brew "redis"
brew "ripgrep"
brew "rsync"
brew "sevenzip"
brew "sniffnet"
brew "spotify_player"
brew "ssh-copy-id"
brew "starship"
brew "tidy-viewer"
brew "tldr"
brew "tmux"
brew "tmuxp"
brew "tree"
brew "tz"
brew "ugrep"
brew "unar"
brew "vim"
brew "watchexec"
brew "wget"
brew "xidel"
brew "yazi"
brew "yq"
brew "zoxide"
brew "zsh"
brew "zsh-lovers"
brew "felixkratz/formulae/borders"
brew "felixkratz/formulae/sketchybar"
brew "gitguardian/tap/ggshield"
brew "gptscript-ai/tap/gptscript"
brew "shivammathur/php/php@7.2"
brew "shivammathur/php/php@7.3"
brew "shivammathur/php/php@7.4"
brew "socsieng/tap/sendkeys"
brew "timothyye/tap/skm"
cask "1password-cli"
cask "aerospace"
cask "betterdisplay"
cask "chatgpt"
cask "chromedriver"
cask "deepl"
cask "docker"
cask "figma"
cask "firefox"
cask "google-chrome"
cask "hammerspoon"
cask "herd"
cask "httpie"
cask "karabiner-elements"
cask "mactex"
cask "messenger"
cask "microsoft-edge"
cask "mullvadvpn"
cask "neovide"
cask "vivid"
cask "wezterm"
cask "whatsapp"
mas "1Password for Safari", id: 1569813296
mas "2048 Game", id: 871033113
mas "Adventures", id: 6444109249
mas "Bear", id: 1091189122
mas "com.kagimacOS.Kagi-Search", id: 1622835804
mas "Consent-O-Matic", id: 1606897889
mas "Developer", id: 640199958
mas "Ground News", id: 1324203419
mas "iMovie", id: 408981434
mas "Ivory", id: 6444602274
mas "Keynote", id: 409183694
mas "Kindle", id: 302584613
mas "Mane Merge", id: 1596302742
mas "Microsoft Excel", id: 462058435
mas "Microsoft Word", id: 462054704
mas "Momentum", id: 1564329434
mas "My Bowling 3D", id: 1603983702
mas "Numbers", id: 409203825
mas "Octotree", id: 1457450145
mas "OneAuth", id: 1142928979
mas "Pages", id: 409201541
mas "Patty Pursuit", id: 1485030412
mas "Pixelmator Pro", id: 1289583905
mas "Reeder", id: 1529448980
mas "Snake.io+", id: 6443553808
mas "Squiggle Drop", id: 1623460434
mas "Xcode", id: 497799835
mas "Zen Pinball Party", id: 1536783591
