#!/bin/sh

{{ template "chezmoi-cmd.sh" . }}

{{
  $file := "key.txt"
  $src := joinPath .chezmoi.sourceDir (print $file ".age")
  $destDir := osDir .chezmoi.configFile
  $dest := joinPath $destDir $file
}}

if [ ! -d "{{ $destDir }}" ]; then
  mkdir -p "{{ $destDir }}"
fi

if [ ! -f "{{ $dest }}" ]; then
  $chezmoi age decrypt --passphrase \
    --output "{{ $dest }}" \
    "{{ $src }}"

  chmod 600 "{{ $dest }}"
fi

# vim: ft=sh.tmpl
