#!/usr/bin/env fish

source "$CONFIG_DIR/colors.fish"

set -lx curve "quadratic"
set -lx duration 10

switch $MODE
  case normal
    sketchybar --animate $curve $duration --bar color=$COLORS[2]
    borders active_color=$COLORS[2] inactive_color=$BAR_COLOR
  case main
    sketchybar --animate $curve $duration --bar color=$BAR_COLOR
    borders active_color=$COLORS[3] inactive_color=$BAR_COLOR
end
