#!/usr/bin/env zsh

# make sure it's executable with:
# chmod +x ~/.config/sketchybar/plugins/aerospace.sh

non_empty="$(aerospace list-workspaces --monitor all --empty no)"
current_screen="$(aerospace list-workspaces --monitor focused)"
if [[ -z "$FOCUSED" ]]; then
  FOCUSED="$(aerospace list-workspaces --focused)"
  FOCUSED="${FOCUSED%%[[:space:]]#}"
fi

# Reset to default styles
sketchybar --set "$NAME" label.color={{ print "0xff" (index .theme 7 | trimPrefix "#") }}

if grep -q "${NAME#space.}" <<<"$current_screen"; then
  sketchybar --set "$NAME" background.border_width=2
else
  sketchybar --set "$NAME" background.border_width=0
fi

if [[ "${NAME##space.}" == "$FOCUSED" ]]; then
  sketchybar --set "$NAME" \
                  background.drawing=on \
                  background.color={{ print "0xaa" (index .theme 3 | trimPrefix "#") }} \
                  label.color={{ print "0xff" (index .theme 0 | trimPrefix "#") }}
  exit 0
fi

if grep -q "${NAME#space.}" <<<"$non_empty"; then
  sketchybar --set "$NAME" \
                  background.drawing=on \
                  background.color={{ print "0x44" (index .theme 4 | trimPrefix "#") }}
  exit 0
fi

sketchybar --set "$NAME" background.drawing=off
