{{ if eq .chezmoi.os "darwin" }}
{{ .chezmoi.homeDir }}/Library/Application Support/org.dystroy.broot/launcher/nushell/6
{{ else }}
{{ .chezmoi.homeDir }}/.local/share/broot/launcher/nushell/6
{{ end }}
