<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.theutz.nb.plist</string>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/com.theutz.nb.plist.stderr</string>

    <key>StandardOutPath</key>
    <string>/tmp/com.theutz.nb.plist.stdout</string>

    <key>WorkingDirectory</key>
    <string>/Users/michael</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/ncat</string>
      <string>--exec</string>
      <string>/opt/homebrew/bin/nb browse --respond</string>
      <string>--keep-open</string>
      <string>--listen</string>
      <string>localhost</string>
      <string>6789</string>
    </array>

  </dict>
</plist>
