{{ $end := "launcher/fish/br.fish" }}
{{ if eq .chezmoi.os "darwin" }}
{{ .chezmoi.homeDir }}/Library/Application Support/org.dystroy.broot/{{ $end }}
{{ else }}
{{ .chezmoi.homeDir }}/.local/share/broot/{{ $end }}
{{ end }}
