{{- /* vim: ft=sh.tmpl */ -}}
#!/bin/sh

{{ template "chezmoi-cmd.sh" . -}}

{{ $file := "id_ed25519" -}}
{{ $src := output .chezmoi.executable "source-path" "~/.skm/default/id_ed25519" | trim }}
{{ $dir := joinPath .chezmoi.homeDir ".ssh" -}}
{{ $dest := joinPath $dir $file -}}

if [ ! -d "{{ $dir }}" ]; then
  printf "making %s and setting permissions...\n" "{{ $dir }}"
  mkdir -p "{{ $dir }}"
  chmod 0700 "{{ $dir }}"
fi

if [ ! -f "{{ $dest }}" ]; then
  printf "attempting to decrypt %s to %s with %s\n" "{{ $src }}" "{{ $dest }}" $chezmoi
  $chezmoi decrypt --output "{{ $dest }}" "{{ $src }}"
  chmod 0600 "{{ $dest }}"
fi
