#!/bin/sh

{{ template "chezmoi-cmd.sh" . }}

{{ with $file := "key.txt" }}
{{ with $src := joinPath .chezmoi.sourceDir (print $file ".age") }}
{{ with $destDir := osDir .chezmoi.configFile }}
{{ with $dest := joinPath $destDir $file }}

if [ ! -d "{{ $destDir }}" ]; then
  mkdir -p "{{ $destDir }}"
fi

if [ ! -f "{{ $dest }}" ]; then
  $chezmoi age decrypt --passphrase \
    --output "{{ $dest }}" \
    "{{ $src }}"

  chmod 600 "{{ $dest }}"
fi

{{ end }}
{{ end }}
{{ end }}
{{ end }}

# vim: ft=sh.tmpl
