#!/bin/sh

if ! command -v zsh >/dev/null; then
  brew install zsh
fi

zshbin="$(brew --prefix)/bin/zsh"

echo "$zshbin" | sudo tee -a /etc/shells

{{ if eq .chezmoi.os "darwin" -}}
id -P | grep "$zshbin" ||
{{ else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) }}
awk -F: '
{
  if (($1 == "{{ .chezmoi.username }}" && $7 == "'$zshbin'")) {
    found=1
  }
}
END {
  if (!found) {
    exit 1
  }
}
' /etc/passwd ||
{{- end }}
sudo chsh -s "$(brew --prefix)/bin/zsh" "{{ .chezmoi.username }}"
