{{- /* vim: ft=sh.tmpl */ -}}
#!/bin/sh

{{ template "chezmoi-cmd.sh" . -}}

{{ $file := "id_ed25519" -}}
{{ $src := print "*" $file ".age" | joinPath .chezmoi.sourceDir "*skm" "*default" | glob | first -}}
{{ $dir := joinPath .chezmoi.homeDir ".ssh" -}}
{{ $dest := joinPath $dir $file -}}

if [ ! -d "{{ $dir }}" ]; then
  mkdir -p "{{ $dir }}"
  chmod 0700 "{{ $dir }}"
fi

if [ ! -f "{{ $dest }}" ]; then
  $chezmoi age decrypt \
    --passphrase \
    --output "{{ $dest }}" \
    "{{ $src }}"
fi
