#!/usr/bin/env zsh

# {{ includeTemplate "dot_config/exact_aerospace/aerospace.toml" . | sha256sum }}
# {{ includeTemplate "dot_config/exact_sketchybar/executable_sketchybarrc.tmpl" . | sha256sum }}

noti aerospace reload-config

# vim: ft=sh.tmpl
