#!/usr/bin/env zsh

# .Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install gcc
{{ end -}}
{{ end -}}

brew bundle --global --no-upgrade

# vim: ft=sh.tmpl
