#!/usr/bin/env zsh

# {{ includeTemplate "dot_config/exact_tmux/tmux.conf" . | sha256sum }}

tmux source-file ~/.config/tmux/tmux.conf \; \
  display-message "Config reloaded by chezmoi!"

# vim: ft=sh.tmpl
