after-startup-command = [ "exec-and-forget sketchybar --reload" ]
start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 32
default-root-container-layout = "accordion"
default-root-container-orientation = "auto"
on-focused-monitor-changed = [ "exec-and-forget sketchybar --trigger aerospace_workspace_change" ]
automatically-unhide-macos-hidden-apps = true
exec-on-workspace-change = [ "/bin/bash", "-c", "sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE" ]


[key-mapping]
preset = "qwerty"

[gaps.inner]
horizontal = 16
vertical = 16

[gaps.outer]
left = 16
right = 16
top = [ { monitor = { SAMSUNG = 56 } }, 16 ]
bottom = 16

[[on-window-detected]]
check-further-callbacks = false
run = [ "layout tiling", "move-node-to-workspace 9" ]

[on-window-detected.if]
app-id = "wezterm-gui"
window-title-regex-substring = "spotify_player"
during-aerospace-startup = true

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 8" ]

[on-window-detected.if]
app-id = "ru.keepcoder.Telegram"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 8" ]

[on-window-detected.if]
app-id = "com.apple.MobileSMS"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 8" ]

[on-window-detected.if]
app-id = "net.whatsapp.WhatsApp"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 8" ]

[on-window-detected.if]
app-id = "org.whispersystems.signal-desktop"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 1" ]

[on-window-detected.if]
app-id = "com.github.wez.wezterm"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 9" ]

[on-window-detected.if]
app-id = "com.spotify.client"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 7" ]

[on-window-detected.if]
app-id = "com.tinyspeck.slackmacgap"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 5" ]

[on-window-detected.if]
app-id = "com.figma.Desktop"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 4" ]

[on-window-detected.if]
app-id = "us.zoom.xos"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 6" ]

[on-window-detected.if]
app-id = "com.fastmail.mac.Fastmail"
during-aerospace-startup = false

[[on-window-detected]]
check-further-callbacks = false
run = [ "move-node-to-workspace 6" ]

[on-window-detected.if]
app-id = "com.google.Chrome.app.fmgjjmmmlfnkbppncabfkddbjimcfncm"
during-aerospace-startup = false

[exec.env-vars]
PATH = "${HOME}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}"

[workspace-to-monitor-force-assignment]
1 = "main"
9 = [ "secondary", "main" ]

[mode.main.binding]
cmd-ctrl-alt-h = "move left"
cmd-ctrl-alt-j = "move down"
cmd-ctrl-alt-k = "move up"
cmd-ctrl-alt-l = "move right"
cmd-ctrl-alt-quote = "swap dfs-next"
cmd-ctrl-alt-semicolon = "swap dfs-prev"
cmd-ctrl-alt-a = "join-with left"
cmd-ctrl-alt-d = "join-with right"
cmd-ctrl-alt-s = "join-with down"
cmd-ctrl-alt-w = "join-with up"
cmd-ctrl-alt-equal = "resize smart-opposite +50"
cmd-ctrl-alt-minus = "resize smart-opposite -50"
cmd-ctrl-alt-1 = [ "move-node-to-workspace 1", "workspace 1" ]
cmd-ctrl-alt-keypad1 = [ "move-node-to-workspace 1", "workspace 1" ]
cmd-ctrl-alt-2 = [ "move-node-to-workspace 2", "workspace 1" ]
cmd-ctrl-alt-keypad2 = [ "move-node-to-workspace 2", "workspace 1" ]
cmd-ctrl-alt-3 = [ "move-node-to-workspace 3", "workspace 1" ]
cmd-ctrl-alt-keypad3 = [ "move-node-to-workspace 3", "workspace 1" ]
cmd-ctrl-alt-4 = [ "move-node-to-workspace 4", "workspace 1" ]
cmd-ctrl-alt-keypad4 = [ "move-node-to-workspace 4", "workspace 1" ]
cmd-ctrl-alt-5 = [ "move-node-to-workspace 5", "workspace 1" ]
cmd-ctrl-alt-keypad5 = [ "move-node-to-workspace 5", "workspace 1" ]
cmd-ctrl-alt-6 = [ "move-node-to-workspace 6", "workspace 1" ]
cmd-ctrl-alt-keypad6 = [ "move-node-to-workspace 6", "workspace 1" ]
cmd-ctrl-alt-7 = [ "move-node-to-workspace 7", "workspace 1" ]
cmd-ctrl-alt-keypad7 = [ "move-node-to-workspace 7", "workspace 1" ]
cmd-ctrl-alt-8 = [ "move-node-to-workspace 8", "workspace 1" ]
cmd-ctrl-alt-keypad8 = [ "move-node-to-workspace 8", "workspace 1" ]
cmd-ctrl-alt-9 = [ "move-node-to-workspace 9", "workspace 1" ]
cmd-ctrl-alt-keypad9 = [ "move-node-to-workspace 9", "workspace 1" ]
cmd-ctrl-alt-n = [ "move-node-to-workspace next", "workspace next" ]
cmd-ctrl-alt-p = [ "move-node-to-workspace prev", "workspace prev" ]
cmd-ctrl-alt-shift-h = "focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors left"
cmd-ctrl-alt-shift-j = "focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors down"
cmd-ctrl-alt-shift-k = "focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors up"
cmd-ctrl-alt-shift-l = "focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors right"
cmd-ctrl-alt-shift-b = "exec-and-forget aerospace focus-back-and-forth || aerospace workspace-back-and-forth"
cmd-ctrl-alt-shift-i = "exec-and-forget aerospace focus-back-and-forth || aerospace workspace-back-and-forth"
cmd-ctrl-alt-shift-a = "swap left"
cmd-ctrl-alt-shift-d = "swap right"
cmd-ctrl-alt-shift-s = "swap down"
cmd-ctrl-alt-shift-w = "swap up"
cmd-ctrl-alt-shift-quote = "focus dfs-next"
cmd-ctrl-alt-shift-semicolon = "focus dfs-prev"
cmd-ctrl-alt-shift-1 = "workspace --auto-back-and-forth 1"
cmd-ctrl-alt-shift-keypad1 = "workspace --auto-back-and-forth 1"
cmd-ctrl-alt-shift-2 = "workspace --auto-back-and-forth 2"
cmd-ctrl-alt-shift-keypad2 = "workspace --auto-back-and-forth 2"
cmd-ctrl-alt-shift-3 = "workspace --auto-back-and-forth 3"
cmd-ctrl-alt-shift-keypad3 = "workspace --auto-back-and-forth 3"
cmd-ctrl-alt-shift-4 = "workspace --auto-back-and-forth 4"
cmd-ctrl-alt-shift-keypad4 = "workspace --auto-back-and-forth 4"
cmd-ctrl-alt-shift-5 = "workspace --auto-back-and-forth 5"
cmd-ctrl-alt-shift-keypad5 = "workspace --auto-back-and-forth 5"
cmd-ctrl-alt-shift-6 = "workspace --auto-back-and-forth 6"
cmd-ctrl-alt-shift-keypad6 = "workspace --auto-back-and-forth 6"
cmd-ctrl-alt-shift-7 = "workspace --auto-back-and-forth 7"
cmd-ctrl-alt-shift-keypad7 = "workspace --auto-back-and-forth 7"
cmd-ctrl-alt-shift-8 = "workspace --auto-back-and-forth 8"
cmd-ctrl-alt-shift-keypad8 = "workspace --auto-back-and-forth 8"
cmd-ctrl-alt-shift-9 = "workspace --auto-back-and-forth 9"
cmd-ctrl-alt-shift-keypad9 = "workspace --auto-back-and-forth 9"
cmd-ctrl-alt-shift-n = "workspace --wrap-around next"
cmd-ctrl-alt-shift-p = "workspace --wrap-around prev"
cmd-ctrl-alt-shift-leftSquareBracket = "focus-monitor --wrap-around next"
cmd-ctrl-alt-shift-rightSquareBracket = "focus-monitor --wrap-around prev"
cmd-ctrl-alt-shift-0 = "balance-sizes"
cmd-ctrl-alt-shift-equal = [ "resize smart +50", "resize smart-opposite +50" ]
cmd-ctrl-alt-shift-minus = [ "resize smart -50", "resize smart-opposite -50" ]
cmd-ctrl-alt-shift-down = "resize height -50"
cmd-ctrl-alt-shift-up = "resize height +50"
cmd-ctrl-alt-shift-left = "resize width -50"
cmd-ctrl-alt-shift-right = "resize width +50"
cmd-ctrl-alt-shift-t = "layout accordion tiles"
cmd-ctrl-alt-shift-v = "layout horizontal vertical"
cmd-ctrl-alt-shift-o = "focus-monitor --wrap-around next"
cmd-ctrl-alt-shift-m = "fullscreen"
cmd-ctrl-alt-shift-r = [ "reload-config", "exec-and-forget nu -c 'use twilight.nu; twilight sync'" ]