{{- .nushell.shebang }}
# vim: ft=nu.tmpl

{{- $file := "glance.ini" }}
{{- $src := joinPath .chezmoi.sourceDir "dot_config" "glance" (print $file ".tmpl") }}
{{- $dest := joinPath "/opt" "homebrew" "etc" "supervisor.d" $file }}

{{ range $_, $file := (list $src (joinPath .xdg.configDir "glance" "glance.yml")) }}
# {{ $file }} hash: {{ $file | sha256sum }}
{{- end }}

# $env.PATH ++= [/opt/homebrew/bin]

mkdir {{ $dest | dir }}
{{ .chezmoi.executable }} execute-template --file {{ $src }} --output {{ $dest }}
supervisorctl update glance
supervisorctl restart glance

