env {
	COMPOSE_FILE "compose.dev.yaml"
}
layout {
	cwd "/Users/michael/code/delegator/statamic/lineworker"

	default_tab_template {
	    pane size=1 borderless=true {
	        plugin location="tab-bar"
	    }
	    children
	    pane size=1 borderless=true {
	        plugin location="status-bar"
	    }
	}

	tab name="main" split_direction="vertical" {
		pane {
			command "yazi"
			args "~/code/delegator/statamic/lineworker"
		}
		pane split_direction="horizontal" {
			pane stacked=true size="60%" {
				pane name="shell"
				pane name="docker" command="lazydocker"
			}
			pane {
				name "git status"
				command "lazygit"
				args "--screen-mode" "full"
			}
		}
	}
}
