#  ╭──────────────────────────────────────────────────────────╮
#  │                          Global                          │
#  ╰──────────────────────────────────────────────────────────╯

set -g mouse on
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",xterm*:Tc"
set -g destroy-unattached off
set -g detach-on-destroy off
set -g aggressive-resize on
set -g base-index 1
set -g pane-base-index 1
set -g status-keys vi
set -g mode-keys vi
set -g renumber-windows on
set -g set-titles on
set -g pane-border-indicators both
set -g pane-border-lines heavy
set -g window-status-separator ""
set -g visual-activity off
set -g remain-on-exit on

#  ╭──────────────────────────────────────────────────────────╮
#  │                 Status Formats & Styles                  │
#  ╰──────────────────────────────────────────────────────────╯

#  Colors
#  ────────────────────────────────────────────────────────────

{{ if eq .chezmoi.os "darwin" -}}
set -g @color-session "blue"
set -g @color-window "cyan"
set -g @color-pane "brightblue"
{{- else }}
set -g @color-session "magenta"
set -g @color-window "pink"
set -g @color-pane "purple"
{{- end }}
set -g @color-text "black"
set -g @color-inactive "#54546D"
set -g @color-inactive-bg "#363646"
set -g @color-active-bg "terminal"
set -g @color-success "green"
set -g @color-warning "yellow"
set -g @color-danger "red"

#  Icons
#  ────────────────────────────────────────────────────────────

set -g @cap-round-hard-start ""
set -g @cap-round-hard-end ""
set -g @cap-round-soft-start ""
set -g @cap-round-soft-end ""
set -g @divider-soft-left ""
set -g @divider-soft-right ""
set -g @divider-hard-left ""
set -g @divider-hard-right ""
set -g @separator "󰇙"

#  Reused styles
#  ────────────────────────────────────────────────────────────

set -g @window-flags "\
#[bright]\
#{?window_marked_flag, ,}\
#{?window_zoomed_flag,󱉶 ,}\
#{?window_bell_flag,󰵙 ,}\
#{?window_last_flag,󱞱 ,}\
#{?window_activity_flag,󰛄 ,}\
#{?window_silence_flag,󰪓 ,}\
#[nobright]"
set -g @window-status-format "#I #{E:@window-flags}#{@divider-soft-left} #W "

#  ╭──────────────────────────────────────────────────────────╮
#  │                         Options                          │
#  ╰──────────────────────────────────────────────────────────╯

set -g message-command-style "bg=#{@color-danger} fg=#{@color-text}"
set -g message-style "bg=#{@color-warning} fg=#{@color-text}"
set -g pane-active-border-style "fg=#{@color-pane} bg=#{@color-active-bg}"
set -g pane-border-format "\
#{?pane_dead,#[fg=red],#{?pane_last,#[fg=#{@color-pane}],}}\
 #{?pane_active,#{@divider-hard-right}#[reverse],#[italics]#{@divider-soft-right}}\
 #P #{@divider-soft-left}\
 #{?pane_dead,󰱮 ,󰉋 #{pane_current_path}\
 #{@separator}\
 󰆍 #{pane_current_command}}\
 #{?pane_active,#[default]#{?pane_dead,#[fg=red],}#{@divider-hard-left},#{@divider-soft-left}}\
 "
set -g pane-border-indicators both
set -g pane-border-lines heavy
set -g pane-border-status top
set -gF pane-border-style "fg=#{@color-inactive} bg=#{@color-inactive-bg}"

set -g popup-border-lines "rounded"
set -gF popup-border-style "bg=#{@color-inactive-bg}"
set -gF popup-style ""

set -g remain-on-exit-format "#[align=centre fill=#{@color-danger} bg=#{@color-danger} italics] 󰱮  This pane is #[bold underscore]dead#[nounderscore nobold]  󰱮 #[default]"

set -g status-interval 5
set -g status-justify absolute-centre

set -g status-left "#{@cap-round-hard-start}#[reverse] 󰀥  #S #{@divider-soft-left} 󱞞 #{session_path} #[default]#{@cap-round-hard-end}"
set -g status-left-length 80

set -g status-position bottom

set -g status-right "\
#{?#(ping -c 1 -t 2 google.com; echo $?),#[bg=#{@color-active-bg} fg=#{@color-danger}]#[push-default],}\
#{@cap-round-hard-start}#[reverse]\
 󰀄 #{user}\
 #{@separator}\
 #(ping -c 1 -t 2 google.com 2>&1 > /dev/null && echo "󰍹" || echo "󰖪")\
 #H\
 #[default]#{@cap-round-hard-end}#[pop-default]"
set -g status-right-length 80

set -g status-style "fg=#{@color-session} bg=terminal"

set -g window-status-activity-style "bold"
set -g window-status-bell-style "fg=#{@color-window}"
set -g window-status-last-style "fg=#{@color-window} nodim"
set -g window-status-current-format "\
#{@cap-round-hard-start}\
#[bg=#{@color-window} fg=#{@color-text}]\
 #{E:@window-status-format}\
#[default]\
#{@cap-round-hard-end}"
set -g window-status-current-style "fg=#{@color-window}"
set -g window-status-format "#[dim]#{@cap-round-soft-start} #{E:@window-status-format}#{@cap-round-soft-end}"
set -gF window-status-separator " #[fg=#{@color-inactive}]⋅#[default] "
set -g window-status-style "fg=#{@color-inactive} italics"

set -g window-active-style "bg=#{@color-active-bg}"
set -g window-style "bg=#{@color-inactive-bg}"

#  ╭──────────────────────────────────────────────────────────╮
#  │                         Plugins                          │
#  ╰──────────────────────────────────────────────────────────╯

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-sessionist'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'laktak/extrakto'
# set -g @plugin 'aserowy/tmux.nvim'

#                                  ┌                                           ┐
#                                  │ Install tpm & plugins if they don't exist │
#                                  └                                           ┘
if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"

#                           ┌                                                  ┐
#                           │                   Initialize TMUX plugin manager │
#                           │ (keep this line at the very bottom of tmux.conf) │
#                           └                                                  ┘
run '~/.config/tmux/plugins/tpm/tpm'

#  ╭──────────────────────────────────────────────────────────╮
#  │                     Plugin overrides                     │
#  ╰──────────────────────────────────────────────────────────╯

#  Command aliases
#  ────────────────────────────────────────────────────────────

set -ga command-alias popit='display-popup -w 80% -h 80% -E'

#  Key bindings
#  ────────────────────────────────────────────────────────────

bind-key -N "Clear screen" C-l send-keys 'C-l'
bind-key -N "List all keys" / list-keys
bind-key -N "Respawn pane" r confirm-before -p "Respawn pane? (y/n)" "respawn-pane -k"
bind-key -N "Customize mode" O customize-mode -Z

bind-key -N "Select pane above" h select-pane -LZ
bind-key -N "Select pane above" j select-pane -DZ
bind-key -N "Select pane above" k select-pane -UZ
bind-key -N "Select pane above" l select-pane -RZ
bind-key -N "Select pane above" C-h select-pane -LZ
bind-key -N "Select pane above" C-j select-pane -DZ
bind-key -N "Select pane above" C-k select-pane -UZ
bind-key -N "Select pane above" C-l select-pane -RZ
bind-key -N "Zoom the active pane" C-z resize-pane -Z

#  Popup key table
#  ────────────────────────────────────────────────────────────

bind-key -N "Switch to popup keys table" g switch-client -T popit
bind-key -Tpopit -N "boxes" B popit "boxes -l | less"
bind-key -Tpopit -N "btop" b popit "btop"
bind-key -Tpopit -N "chezmoi" c popit "cd $(chezmoi source-path) && nvim"
bind-key -Tpopit -N "figlet" f popit "showfigfonts | less"
bind-key -Tpopit -N "lazygit" g popit "lazygit"
bind-key -Tpopit -N "nb" n popit "nb shell"

#  Key mode
#  ────────────────────────────────────────────────────────────

set -g status-keys vi
set -g mode-keys vi

#  ╭──────────────────────────────────────────────────────────╮
#  │               Display a message on reload                │
#  ╰──────────────────────────────────────────────────────────╯

display-message -d 4000 "#[fill=green fg=default bg=green reverse]#{@cap-round-hard-start}#[align=centre italics noreverse bg=brightgreen]    🔃 Config file reloaded!    #[align=right bg=green fg=default reverse]#{@cap-round-hard-end}#[default]"

# vim: ft=tmux
