#
# Global
#

set -g mouse on
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",xterm-256color:Tc"
set -g destroy-unattached off
set -g detach-on-destroy off
set -g aggressive-resize on
set -g base-index 1
set -g pane-base-index 1
set -g status-keys vi
set -g mode-keys vi
set -g renumber-windows on
set -g set-titles on
set -g pane-border-indicators both
set -g pane-border-lines heavy
set -g window-status-separator ""
set -g monitor-activity on
set -g visual-activity on

#
# Status Formats & Styles
#

{{- if eq .chezmoi.os "darwin" }}
set -g @color-session "blue"
set -g @color-window "cyan"
set -g @color-pane "green"
{{- else }}
set -g @color-session "pink"
set -g @color-window "magenta"
set -g @color-pane "purple"
{{- end }}
set -g @color-text "black"
set -g @color-inactive "white"
set -g @color-success "green"
set -g @color-warning "orange"
set -g @color-danger "red"

set -g @cap-round-hard-start ""
set -g @cap-round-hard-end ""
set -g @cap-round-soft-start ""
set -g @cap-round-soft-end ""
set -g @divider-soft-left ""
set -g @divider-soft-right ""
set -g @divider-hard-left ""
set -g @divider-hard-right ""
set -g @separator "󰇙"

set -g @window-flags "#[bright]#{?window_marked_flag, ,}#{?window_zoomed_flag,󱉶 ,}#{?window_bell_flag,󰵙 ,}#{?window_last_flag,󱞱 ,}#{?window_activity_flag,󰛄 ,}#{?window_silence_flag,󰪓 ,}#[nobright]"
set -g @window-status-format "#I #{E:@window-flags}#{@divider-soft-left} #W "

set -g message-command-style "bg=default fg=#{@color-danger}"
set -g message-style "bg=default fg=#{@color-warning}"
set -g pane-active-border-style "fg=#{@color-pane} bg=default"
set -g pane-border-format " #{?pane_active,#{@divider-hard-right}#[reverse],#{?pane_last,#[fg=#{@color-pane}],}#{@divider-soft-right}} 󰉋 #{pane_current_path} #{@separator} 󰆍 #{pane_current_command} #{?pane_active,#[default]#{@divider-hard-left},#{@divider-soft-left}#[default]} "
set -g pane-border-indicators off
set -g pane-border-lines heavy
set -g pane-border-status top
set -g pane-border-style "fg=#{@color-inactive}"
set -g status-interval 5
set -g status-justify absolute-centre
set -g status-left "#{@cap-round-hard-start}#[reverse] 󰀥  #S #{@divider-soft-left} 󱞞 #{session_path} #[default]#{@cap-round-hard-end}"
set -g status-left-length 80
set -g status-position top
set -g status-right "#{@cap-round-hard-start}#[reverse] 󰀄 #{user} #{@divider-soft-right} #(ping -c 1 -t 2 google.com 2>&1 > /dev/null && echo "󰍹" || echo "󰖪")  #H #[default]#{@cap-round-hard-end}"
set -g status-right-length 80
set -g status-style "fg=#{@color-session} bg=default"
set -g window-status-activity-style "bold"
set -g window-status-bell-style "fg=#{@color-window}"
set -g window-status-last-style "fg=#{@color-window} nodim"
set -g window-status-current-format "#{@cap-round-hard-start}#[bg=#{@color-window} fg=#{@color-text}] #{E:@window-status-format}#[default]#{@cap-round-hard-end}"
set -g window-status-current-style "fg=#{@color-window}"
set -g window-status-format "#[dim]#{@cap-round-soft-start} #{E:@window-status-format}#{@cap-round-soft-end}"
set -g window-status-separator " "
set -g window-status-style "fg=#{@color-inactive}"

#
# Plugins
#
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-sessionist'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'laktak/extrakto'
set -g @plugin 'aserowy/tmux.nvim'

# Install tpm & plugins if they don't exist
if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'

# Key binding overrides
bind-key -N "Reload tmux config" r source ~/.config/tmux/tmux.conf \; display-message "Tmux config reloaded!"
bind-key -N "Clear screen" C-l send-keys 'C-l'
bind-key -N "List all keys" / list-keys

# Popuup key table
bind-key -N "Switch to popup keys table" g switch-client -Tpopup
bind-key -N "lazygit" -T popup g display-popup -w 80% -h 80% -E lazygit
bind-key -N "nb" -T popup n display-popup -w 80% -h 80% -E nb shell
bind-key -N "zdotdir" -T popup z display-popup -w 80% -h 80% -E nvim $ZDOTDIR
bind-key -N "tmux" -T popup t display-popup -w 80% -h 80% -E nvim ~/.config/tmux/tmux.conf

# Key Mode
set -g status-keys vi
set -g mode-keys vi

# vim: ft=tmux
