{{- .nushell.shebang }}
# vim: ft=nu

# The $NAME variable is passed from sketchybar and holds the name of
# the item invoking this script:
# https://felixkratz.github.io/SketchyBar/config/events#events-and-scripting

[
  --set $env.NAME
  label=(date now | format date '%a %d %T')
]
| sketchybar ...$in
