{{- .nushell.shebang }}
# vim: ft=nu

let data = try {
  http get --allow-errors https://browserleaks.com/ip
  | query web --query 'table.wb tbody:first-of-type tr:has(> td + td) td:nth-child(2)'
  | flatten
  | get 0 2 6 7
  | each {
    str replace --regex r#' \(.*$'# ""
  }
  | rotate --ccw ip country state city
  | into record
} catch { null }

let ip = $data.ip? | ""

let location = $data
| if ($in | is-not-empty) {
  reject --optional ip state
  | values
  | reverse
  | str trim
  | str join ', '
  | default ""
} else { "" }

[
  --animate sin 10
] | if ($data | is-not-empty) {
  append [
    --set ipaddress
    icon.highlight=off
    label=($data.ip)
    label.drawing=on

    --set iplocation
    icon.highlight=off
    drawing=on
    label=($location)
  ]
} else {
  [
    --set ipaddress
    icon.highlight=on
    
    --set iplocation
    drawing=off
  ]
}
| sketchybar ...$in

