theme = catppuccin-mocha
font-family = {{ .fonts.mono.family }}
font-size = {{ .fonts.mono.size }}
adjust-cell-height = 6
background-opacity = 0.85
#minimum-contrast = 1.2
macos-option-as-alt = left
shell-integration = zsh

keybind = super+shift+h=goto_split:left
keybind = super+shift+j=goto_split:down
keybind = super+shift+k=goto_split:up
keybind = super+shift+l=goto_split:right
keybind = super+shift+alt+h=resize_split:left,20
keybind = super+shift+alt+j=resize_split:down,20
keybind = super+shift+alt+k=resize_split:up,20
keybind = super+shift+alt+l=resize_split:right,20
