command = ~/.local/share/mise/shims/nu --env-config ~/.config/nushell/env.nu --config ~/.config/nushell/config.nu
theme = light:BlulocoLight,dark:BlulocoDark
font-family = {{ .fonts.mono.family }}
adjust-cell-height = {{ (print (mulf .fonts.mono.height 100) "%") }}
background-opacity = 0.85
minimum-contrast = 1.1
