@ads:registry=https://artifactory.internal.unity3d.com/api/npm/libs-ads/
@unity:registry=https://artifactory.internal.unity3d.com/api/npm/libs-ads
@unity-dashboard:registry=https://artifactory.internal.unity3d.com/api/npm/libs-ads
