# vim: fdm=marker fdl=0 fmr=\ »»»,\ ««« cms=\ #\ %s

start-at-login                                                  = true
after-startup-command                                           = [
  'exec-and-forget {{ (includeTemplate "borders/main.tmpl" .) | trim }}',
  'exec-and-forget sketchybar --reload'
]
exec-on-workspace-change = [
  '/bin/bash', '-c', 'sketchybar --trigger aerospace_workspace_change FOCUSED=$AEROSPACE_FOCUSED_WORKSPACE'
]
enable-normalization-flatten-containers                         = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding                                               = 32
default-root-container-layout                                   = 'tiles'
default-root-container-orientation                              = 'auto'
key-mapping.preset                                              = 'qwerty'

[gaps]

inner.horizontal = 16
inner.vertical   = 16
outer.left       = 16
outer.bottom     = 16
outer.top        = [{ monitor."SAMSUNG" = 56 }, 16]
outer.right      = 16

[exec]

inherit-env-vars = true

[exec.env-vars]

PATH   = '/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'
EDITOR = 'neovide --fork'
VISUAL = 'neovide --fork'

[workspace-to-monitor-force-assignment]
{{ range $i, $v := .workspaces }}
  {{- $monitor := le $i 4 | ternary "main" "samsung" }}
  {{- (list (get $v "name") ($monitor | quote)) | join " = " | nindent 0 }}
{{- end }}

# Callbacks
# run `aerospace list-apps` to see all current app ids

[[on-window-detected]]
if.app-id = 'net.mullvad.vpn'
run       = ['layout floating', 'move-node-to-workspace 9']

[[on-window-detected]]
if.app-id = 'com.macpaw.CleanMyMac-setapp'
run       = ['layout floating', 'move-node-to-workspace 9']

[[on-window-detected]]
if.app-id = 'org.hammerspoon.Hammerspoon'
run       = ['layout floating', 'move-node-to-workspace 9']

[[on-window-detected]]
if.app-id = 'com.xiaomi.mihome'
run       = ['layout floating', 'move-node-to-workspace 9']

[[on-window-detected]]
if.app-id = 'com.checkitt'
run       = 'move-node-to-workspace 8'

[[on-window-detected]]
if.app-id = 'com.kapeli.dashdoc'
run       = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'ru.keepcoder.Telegram'
run       = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'net.whatsapp.WhatsApp'
run       = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run       = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run       = 'move-node-to-workspace 5'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run       = 'move-node-to-workspace 6'

[[on-window-detected]]
if.app-id = 'us.zoom.xos'
run       = 'move-node-to-workspace 7'

[[on-window-detected]]
if.app-id = 'com.fivegencare.com.motorola.nursery'
run       = ['layout floating', 'move-node-to-workspace 9']

# Keybinding Reference
# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented

[mode.main.binding]

f13 = [
  'mode normal',
  'exec-and-forget {{ (includeTemplate "borders/normal.tmpl" .) | trim }}',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=normal'
]

[mode.edit.binding]

esc = [
  'trigger-binding --mode main f13',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=default'
]
a = ['exec-and-forget $VISUAL ~/.config/aerospace/aerospace.toml', 'trigger-binding --mode normal esc']
c = ['exec-and-forget $VISUAL ~/.config',                          'trigger-binding --mode normal esc']
t = ['exec-and-forget $VISUAL ~/.config/tmux/tmux.conf',           'trigger-binding --mode normal esc']
w = ['exec-and-forget $VISUAL ~/.config/wezterm/wezterm.lua',      'trigger-binding --mode normal esc']
v = ['exec-and-forget $VISUAL ~/.config/nvim',                     'trigger-binding --mode normal esc']
z = ['exec-and-forget $VISUAL ~/.zshrc ~/.zprofile',               'trigger-binding --mode normal esc']

[mode.normal.binding]

1                   = 'workspace 1'
2                   = 'workspace 2'
3                   = 'workspace 3'
4                   = 'workspace 4'
5                   = 'workspace 5'
6                   = 'workspace 6'
7                   = 'workspace 7'
8                   = 'workspace 8'
9                   = 'workspace 9'
e                   = [
  'mode edit',
  'exec-and-forget {{ (includeTemplate "borders/edit.tmpl" .) | trim }}',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=edit'
]
f                   = "layout floating tiling"
h                   = 'focus left'
i                   = 'layout accordion tiles'
j                   = 'focus down'
k                   = 'focus up'
l                   = 'focus right'
o                   = 'layout horizontal vertical'
r                   = [
  'exec-and-forget sketchybar --reload',
  'exec-and-forget {{ (includeTemplate "borders/main.tmpl" .) | trim }}',
  'mode main',
  'reload-config',
  'exec-and-forget noti -t aerospace -m "Config reloaded!"',
]
x                   = 'close --quit-if-last-window'
backslash           = 'balance-sizes'
enter               = 'fullscreen'
equal               = 'resize smart +50'
esc                 = [
  'mode main',
  'exec-and-forget {{ (includeTemplate "borders/main.tmpl" .) | trim }}',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
leftSquareBracket   = 'workspace prev'
minus               = 'resize smart -50'
rightSquareBracket  = 'workspace next'
semicolon           = 'focus-monitor --wrap-around next'

alt-1                  = 'move-node-to-workspace 1'
alt-2                  = 'move-node-to-workspace 2'  
alt-3                  = 'move-node-to-workspace 3' 
alt-4                  = 'move-node-to-workspace 4' 
alt-5                  = 'move-node-to-workspace 5' 
alt-6                  = 'move-node-to-workspace 6'
alt-7                  = 'move-node-to-workspace 7' 
alt-8                  = 'move-node-to-workspace 8'
alt-9                  = 'move-node-to-workspace 9'
alt-h                  = 'join-with left'
alt-j                  = 'join-with down'
alt-k                  = 'join-with up'
alt-l                  = 'join-with right'
alt-semicolon          = 'move-node-to-monitor --wrap-around next'
alt-leftSquareBracket  = 'move-node-to-workspace prev'
alt-rightSquareBracket = 'move-node-to-workspace next'

shift-1 = [
  'trigger-binding --mode normal alt-1',
  'workspace 1'
]
shift-2 = [
  'trigger-binding --mode normal alt-2',
  'workspace 2'
]
shift-3 = [
  'trigger-binding --mode normal alt-3',
  'workspace 3'
]
shift-4 = [
  'trigger-binding --mode normal alt-4',
  'workspace 4'
]
shift-5 = [
  'trigger-binding --mode normal alt-5',
  'workspace 5'
]
shift-6 = [
  'trigger-binding --mode normal alt-6',
  'workspace 6'
]
shift-7 = [
  'trigger-binding --mode normal alt-7',
  'workspace 7'
]
shift-8 = [
  'trigger-binding --mode normal alt-8',
  'workspace 8'
]
shift-9 = [
  'trigger-binding --mode normal alt-9',
  'workspace 9'
]
shift-h                  = 'move left'
shift-j                  = 'move down'
shift-k                  = 'move up'
shift-l                  = 'move right'
shift-semicolon          = [
  'trigger-binding --mode normal alt-semicolon',
  'focus-monitor --wrap-around next'
]
shift-leftSquareBracket  = [
  'trigger-binding --mode normal alt-leftSquareBracket',
  'workspace prev'
]
shift-rightSquareBracket = [
  'trigger-binding --mode normal alt-rightSquareBracket',
  'workspace next'
]
