{{- /* vim: ft=tmux.tmpl */ -}}
set -g command-alias[100] vsp="split-window -h"
set -g command-alias[101] sp="split-window -v"
set -g command-alias[102] rsp="respawn-pane -k"
set -g command-alias[103] x="resize-pane -x"
set -g command-alias[104] y="resize-pane -y"
set -g command-alias[1450] is-pane-dead='run "[[ $(tmux display -p \"#{pane_dead}\") == 1 ]]"'
set -g command-alias[20548] mods='splitw -hbl 80 mods'
set -g command-alias[29547] man='splitw -hbl 80 ''; set -p remain-on-exit off; respawnp -k man tmux'
