{{- /* vim: ft=tmux.tmpl */ -}}
set -g status 2
set -g status-format[1] " #{E:@seg-stats}#[align=absolute-centre]#{?pane_in_mode,#[fg=#{E:@active}]#[reverse] #{pane_mode} #[noreverse]#[default],}#[align=right]#{E:@seg-info} "
set -g status-interval 1
set -g status-justify absolute-centre
set -g status-keys vi
set -g status-left "#{E:@seg-session} #{E:@seg-prefix-indicator} "
set -g status-left-length 120
set -g status-left-style ""
set -g status-position bottom
set -g status-right "#{E:@seg-panes}"
set -g status-right-length 120
set -g status-style "bg=#{E:@bg} fg=#{E:@fg}"
set -g window-status-current-format "#{@open-icon}#{E:@window-icon} #I #W#{E:@win-flags}#{E:@close-icon}"
set -g window-status-current-style "fg=#{E:@window}"
set -g window-status-format "#{E:@window-icon} #I #W#{E:@win-flags}"
set -g window-status-last-style "fg=#{E:@window} nobold"
set -gF window-status-separator "#{E:@sep-icon}"
set -g window-status-style "fg=#{E:@inactive} bold"
