# Tmux Configuration

{{- range (glob (joinPath .chezmoi.sourceDir "dot_config" "exact_tmux" "*.conf.tmpl")) }}
{{- if (eq (base .) "tmux.conf.tmpl") }}{{ break }}{{ end }}
#
# {{ base . | replaceAllRegex "^\\d{3}-(.*?)\\.conf\\.tmpl$" "$1" | title | replace "-" " " }}
#

# {{ includeTemplate . $ | sha256sum }}
source-file {{ .chezmoi.homeDir }}/{{ . }}
{{- end }}

# vim: ft=tmux.tmpl
