# Tmux Configuration

# {{ include "dot_config/exact_tmux/plugins.conf" }}

# {{ include "dot_config/exact_tmux/icons.conf" | sha256sum }}
source "$HOME/.config/tmux/icons.conf"
# {{ include "dot_config/exact_tmux/colors.conf" | sha256sum }}
source "$HOME/.config/tmux/colors.conf"
# {{ include "dot_config/exact_tmux/options.conf" | sha256sum }}
source "$HOME/.config/tmux/options.conf"
# {{ include "dot_config/exact_tmux/hooks.conf" | sha256sum }}
source "$HOME/.config/tmux/hooks.conf"
# {{ include "dot_config/exact_tmux/bindings.conf" | sha256sum }}
source "$HOME/.config/tmux/bindings.conf"

# vim: ft=tmux.tmpl
