layout {
    pane_template name="tab-bar" {
        borderless true
        plugin location="zellij:tab-bar"
    }

    pane_template name="status-bar" {
        borderless true
        plugin location="zellij:status-bar"
    }

    default_tab_template {
        tab-bar size=1
        children
        status-bar size=1
    }

    tab name="home" focus=true {
        pane split_direction="vertical" {
            pane name="home"
            /-pane split_direction="horizontal" size=82 {
                pane command="neofetch" size=24
                pane command="btop"
            }
        }
    }
}
