{{ define "sb" }}
  {{- $indent := add (len .cmd) 1 | int }}
  {{- $args := .args | chunk 2 }}
  {{- print "\n" .cmd }}
  {{- range $i, $v := $args }}
    {{- $isFirst := eq $i 0 }}
    {{- $isLast := eq (add $i 1) (len $args) }}
    {{- $v = $v | join "=" }}
    {{- if $isFirst }}
      {{- printf " %s \\" $v }}
    {{- else if $isLast }}
      {{- nindent $indent $v }}
    {{- else }}
      {{- cat $v "\\" | nindent $indent  }}
    {{- end }}
  {{- end }}
{{- end -}}
# This is a demo config to showcase some of the most important commands.
# It is meant to be changed and configured, as it is intentionally kept sparse.
# For a (much) more advanced configuration example see my dotfiles:
# https://github.com/FelixKratz/dotfiles

PLUGIN_DIR="$CONFIG_DIR/plugins"

##### Bar Appearance #####
# Configuring the general appearance of the bar.
# These are only some of the options available. For all options see:
# https://felixkratz.github.io/SketchyBar/config/bar
# If you are looking for other colors, see the color picker:
# https://felixkratz.github.io/SketchyBar/config/tricks#color-picker

{{- $bar := (dict
  "cmd" "sketchybar --bar"
  "args" (list
      "position"    "top"
      "height"      "40"
      "blur_radius" "10"
      "color"       (print "0x80" (index .theme 0 | trimPrefix "#"))
      "display"     "all"
      "shadow"      "off"))
}}
{{ template "sb" $bar }}

##### Changing Defaults #####
# We now change some default values, which are applied to all further items.
# For a full list of all available item properties see:
# https://felixkratz.github.io/SketchyBar/config/items

{{- $defaults := (dict
  "cmd" "sketchybar --default"
  "args" (list
    "padding_left"        "5"
    "padding_right"       "5"
    "icon.font"           (list .fonts.mono.family "Bold"   .fonts.mono.size | join ":" | quote)
    "label.font"          (list .fonts.mono.family "Normal" .fonts.mono.size | join ":" | quote)
    "icon.color"          (print "0xff" (index .theme 4 | trimPrefix "#"))
    "label.color"         (print "0xff" (index .theme 7 | trimPrefix "#"))
    "icon.padding_left"   "4"
    "icon.padding_right"  "4"
    "label.padding_left"  "4"
    "label.padding_right" "4"))
}}
{{ template "sb" $defaults }}

##### Adding Mission Control Space Indicators #####
# Let's add some mission control spaces:
# https://felixkratz.github.io/SketchyBar/config/components#space----associate-mission-control-spaces-with-an-item
# to indicate active and available mission control spaces.

sketchybar --add event aerospace_workspace_change \
  --add event aerospace_mode_change
{{- /*
SPACE_ICONS=()
while IFS= read -r line; do
  SPACE_ICONS+=("$line")
done <<< "$(aerospace list-workspaces --all)"
for i in "${!SPACE_ICONS[@]}"
do
  sid="${SPACE_ICONS[i]}"
  sketchybar --add item space."$sid" left \
    --set space."$sid" \
      icon="$sid" \
      icon.padding_left=7 \
      icon.padding_right=7 \
      label.drawing=on \
      background.color=0x40ffffff \
      background.corner_radius=5 \
      background.drawing=on \
      script="$PLUGIN_DIR/aerospace.sh" \
      click_script="$PLUGIN_DIR/aerospace-switch.sh" \
    --subscribe space."$sid" aerospace_workspace_change
done */}}
{{ range $i, $v := .workspaces -}}
  {{- $icon := get $v "icon" }}
  {{- $label := get $v "name" }}
  {{- $key := get $v "shortcut" }}
sketchybar --add item space.{{ $label }} left \
           --set space.{{ $label }} \
                 label="({{ $key }}) {{ $label }}" \
                 icon="{{ $icon }}" \
                 icon.padding_left=7 \
                 icon.padding_right=7 \
                 background.color=0x33ffffff \
                 background.corner_radius=5 \
                 script="$PLUGIN_DIR/aerospace.sh" \
                 click_script="$PLUGIN_DIR/aerospace-switch.sh" \
           --subscribe space.{{ $label }} aerospace_workspace_change
{{- end }}

##### Adding Left Items #####
# We add some regular items to the left side of the bar, where
# only the properties deviating from the current defaults need to be set

sketchybar --add item chevron left \
           --set chevron icon= label.drawing=off \
           --add item front_app left \
           --set front_app icon.drawing=off script="$PLUGIN_DIR/front_app.sh" \
           --subscribe front_app front_app_switched \
           --add item aerospace_mode left script="$PLUGIN_DIR/aerospace_mode.sh" \
           --set aerospace_mode icon="󱎯 "

##### Adding Right Items #####
# In the same way as the left items we can add items to the right side.
# Additional position (e.g. center) are available, see:
# https://felixkratz.github.io/SketchyBar/config/items#adding-items-to-sketchybar

# Some items refresh on a fixed cycle, e.g. the clock runs its script once
# every 10s. Other items respond to events they subscribe to, e.g. the
# volume.sh script is only executed once an actual change in system audio
# volume is registered. More info about the event system can be found here:
# https://felixkratz.github.io/SketchyBar/config/events

sketchybar --add item clock right \
           --set clock update_freq=10 icon=  script="$PLUGIN_DIR/clock.sh" \
           --add item volume right \
           --set volume script="$PLUGIN_DIR/volume.sh" \
           --subscribe volume volume_change \
           --add item battery right \
           --set battery update_freq=120 script="$PLUGIN_DIR/battery.sh" \
           --subscribe battery system_woke power_source_change

##### Force all scripts to run the first time (never do this in a script) #####
sketchybar --update
