#!/usr/bin/env fish

set -lx PLUGIN_DIR "$CONFIG_DIR/plugins"
set -lx FONT "RecMonoDuotone Nerd Font Mono:Regular:24.0"

source "$CONFIG_DIR/colors.fish"

# Setup the bar

sketchybar --bar \
      position=top \
      height=40 \
      blur_radius=10 \
      color=$BAR_COLOR \
      display=all \
      shadow=off

# Defaults

sketchybar --default \
    background.height=24 \
    background.padding_left=4 \
    background.padding_right=4 \
    icon.color=$COLORS[5] \
    icon.font=$FONT \
    icon.padding_left=4 \
    icon.padding_right=4 \
    label.color=$TEXT_COLOR \
    label.font=$FONT \
    label.padding_left=0 \
    label.padding_right=0

# Setup the dude

sketchybar --add event aerospace_workspace_change \
           --add event aerospace_mode_change \
           --add item dude left \
           --set dude icon="👨🏻‍💻" \
                 label.drawing=off \
                 padding_left=0 \
                 padding_right=12 \
                 script="$PLUGIN_DIR/aerospace-mode-change.sh" \
           --subscribe dude aerospace_mode_change

# Adding AeroSpace Space Indicators #

{{ range $i, $v := .workspaces -}}
sketchybar --add item space.{{ printf "%d-%s" $i $v.name }} left \
           --set space.{{ printf "%d-%s" $i $v.name }} \
                 padding_left=0 \
                 padding_right=12 \
                 label="{{ $v.name }}" \
                 label.font.size=14 \
                 label.padding_left=8 \
                 label.padding_right=8 \
                 icon="{{ $v.icon }}" \
                 icon.padding_left=8 \
                 icon.padding_right=0 \
                 icon.font.size="16" \
                 background.color={{ print "0x44" (index $.theme 5 | trimPrefix "#") }} \
                 background.drawing=off \
                 background.corner_radius=5 \
                 background.border_color={{ print "0xee" (index $.theme 3 | trimPrefix "#") }} \
                 script="$PLUGIN_DIR/aerospace.sh" \
                 click_script="$PLUGIN_DIR/aerospace-switch.sh" \
           --subscribe space.{{ printf "%d-%s" $i $v.name }} aerospace_workspace_change
{{ end }}

# Left items

# sketchybar --add item chevron left \
#            --set chevron icon= label.drawing=off \
#            --add item front_app left \
#            --set front_app icon.drawing=off script="$PLUGIN_DIR/front_app.sh" \
#            --subscribe front_app front_app_switched

# Right Items

sketchybar --add item clock right \
           --set clock update_freq=10 icon=  script="$PLUGIN_DIR/clock.sh" \
           --add item volume right \
           --set volume script="$PLUGIN_DIR/volume.sh" \
           --subscribe volume volume_change \
           --add item battery right \
           --set battery update_freq=120 script="$PLUGIN_DIR/battery.sh" \
           --subscribe battery system_woke power_source_change \
           {{- $aliases := (list "Mullvad VPN" "TextInputMenuAgent" "AeroSpace" "Tailscale" "Stats,Network_speed") }}
           {{ range $i, $v := $aliases -}}
           --add alias {{ $v | quote }} right \
           --set {{ $v | quote }} \
                 alias.color=0xff{{ index $.theme 4 | trimPrefix "#" }} \
                 icon.padding_left=0 \
                 icon.padding_right=0 \
                 label.padding_left=0 \
                 label.padding_right=0 \
                 background.padding_left=0 \
                 background.padding_right=0
                 {{- if lt (add 1 $i) (len $aliases) }} \{{end}}
           {{ end }}

echo $(date) sketchybar reloaded

##### Force all scripts to run the first time (never do this in a script) #####
sketchybar --update

# vim: ft=sh.tmpl
