# vim: ft=yaml.tmpl
server:
  host: {{ .glance.domain }}
  port: {{ .glance.port }}
pages:
  - name: Home
    head-widgets:
      - type: markets
        markets:
          - name: USD / TRY
            symbol: USDTRY=X
          - name: EUR / TRY
            symbol: EURTRY=X
          - name: USD / EUR
            symbol: USDEUR=X
          - name: Dow Jones
            symbol: DJIA
          - name: S&P 500
            symbol: SPY
    columns:
      - size: small
        widgets:
          - type: search
            search-engine: kagi
            bangs:
              - title: Simple Icons
                shortcut: "!si"
                url: https://simpleicons.org/?q={QUERY}
              - title: Dashboard Icons
                shortcut: "!di"
                url: https://dashboardicons.com/icons?q={QUERY}
              - title: Material Design Icons
                shortcut: "!mdi"
                url: https://pictogrammers.com/library/mdi/?q={QUERY}
              - title: Noogle
                shortcut: "!noogle"
                url: https://noogle.dev/q?term={QUERY}
          - type: clock
            hour-format: 24h
            timezones:
              - timezone: America/New_York
                label: Chattannooga
              - timezone: America/Chicago
                label: Dallas
              - timezone: America/Los_Angeles
                label: Seattle
          - first-day-of-week: monday
            type: calendar
      - size: full
        widgets:
          - type: bookmarks
            name: Links
            groups:
              - title: Glance
                links:
                  - title: Glance Config
                    url: https://github.com/glanceapp/glance/blob/main/docs/configuration.md
                    icon: si:github
                  - title: Simple Icons (si)
                    url: https://simpleicons.org/
                    icon: si:simpleicons
                  - title: Material Design Icons (mdi)
                    url: https://pictogrammers.com/library/mdi/
                    icon: mdi:material-design
                  - title: Dashboard Icons (di)
                    url: https://dashboardicons.com/
                    icon: di:homarr
                  - title: Self-Hosted Dashboard Icons
                    url: https://selfh.st/icons/
                    icon: sh:selfh-st
              - title: Mise
                links:
                  - title: Home
                    url: https://mise.jdx.dev/
                    icon: &mise-icon mdi:silverware-fork-knife
                  - title: Tools
                    url: https://mise.jdx.dev/dev-tools/
                    icon: *mise-icon
                  - title: Environments
                    url: https://mise.jdx.dev/environments/
                    icon: *mise-icon
                  - title: Tasks
                    url: https://mise.jdx.dev/tasks/
                    icon: *mise-icon
              - title: Nix
                links:
                  - title: Searchix
                    url: https://searchix.ovh
                    icon: si:nixos
                  - title: Noogle
                    url: https://noogle.dev
                    icon: si:nixos
                  - title: NixOS Manual
                    url: https://nixos.org/manual/nixos/stable
                    icon: si:nixos
                  - title: Home Manager Manual
                    url: https://nix-community.github.io/home-manager/
                    icon: si:nixos
          - type: releases
            cache: 1h
            show-source-icon: true
            token: &github_token {{ joinPath .chezmoi.sourceDir "dot_config" "glance" "github_token" | include | decrypt }}
            repositories:
              - jdx/mise
              - jdx/hk
              - glanceapp/glance
      - size: small
        widgets:
          - hour-format: 24h
            location: Golcuk, Turkiye
            type: weather
            units: metric
          - type: server-stats
theme:
  $include: theme.yml
