add_newline = true

[aws]
style = "bold orange"

[directory]
style = "bold iris"

[character]
disabled = false
error_symbol = "[](bold rose)"
success_symbol = "[](bold foam)"

[username]
format = "[$user]($style) on "
style_user = "bold aqua"

[shell]
zsh_indicator = "󱆃 zsh"
bash_indicator = " bash"
fish_indicator = " fish"
nu_indicator = " nu"
disabled = false
style = "gold"
