add_newline = true

[aws]
style = "bold orange"

[directory]
style = "bold magenta"

[character]
disabled = false
error_symbol = "[](bold red)"
success_symbol = "[](bold green)"

[username]
format = "[$user]($style) on "

[shell]
zsh_indicator = "󱆃 zsh"
bash_indicator = " bash"
fish_indicator = " fish"
nu_indicator = " nu"
disabled = false

[custom.jj]
command = '''
jj log --revisions @ --limit 1 --ignore-working-copy --no-graph --color always  --template '
  separate(" ",
    bookmarks.map(|x| truncate_end(10, x.name(), "…")).join(" "),
    tags.map(|x| truncate_end(10, x.name(), "…")).join(" "),
    surround("\"", "\"", truncate_end(24, description.first_line(), "…")),
    if(conflict, "conflict"),
    if(divergent, "divergent"),
    if(hidden, "hidden"),
  )
'
'''
when = "jj --ignore-working-copy root"
symbol = "jj "

[custom.jjstate]
when = "jj --ignore-working-copy root"
command = '''
jj log -r@ -n1 --ignore-working-copy --no-graph -T "" --stat | tail -n1 | sd "(\d+) files? changed, (\d+) insertions?\(\+\), (\d+) deletions?\(-\)" ' ${1}m ${2}+ ${3}-' | sd " 0." ""
'''
