add_newline = true
palette = "rose_pine"

[aws]
style = "bold orange"

[directory]
style = "bold iris"

[character]
disabled = false
error_symbol = "[](bold rose)"
success_symbol = "[](bold foam)"

[username]
format = "[$user]($style) on "
style_user = "bold aqua"

[shell]
zsh_indicator = "󱆃 zsh"
bash_indicator = " bash"
fish_indicator = " fish"
nu_indicator = " nu"
disabled = false
style = "gold"

[custom.jj]
command = '''
jj log --revisions @ --limit 1 --ignore-working-copy --no-graph --color always  --template '
  separate(" ",
    bookmarks.map(|x| truncate_end(10, x.name(), "…")).join(" "),
    tags.map(|x| truncate_end(10, x.name(), "…")).join(" "),
    surround("\"", "\"", truncate_end(24, description.first_line(), "…")),
    if(conflict, "conflict"),
    if(divergent, "divergent"),
    if(hidden, "hidden"),
  )
'
'''
when = "jj --ignore-working-copy root"
symbol = "jj "

[custom.jjstate]
when = "jj --ignore-working-copy root"
command = '''
jj log -r@ -n1 --ignore-working-copy --no-graph -T "" --stat | tail -n1 | sd "(\d+) files? changed, (\d+) insertions?\(\+\), (\d+) deletions?\(-\)" ' ${1}m ${2}+ ${3}-' | sd " 0." ""
'''

[palettes.rose_pine]
base = "#191724"
surface = "#1f1d2e"
overlay = "#26233a"
muted = "#6e6a86"
subtle = "#908caa"
text = "#e0def4"
love = "#eb6f92"
gold = "#f6c177"
rose = "#ebbcba"
pine = "#31748f"
foam = "#9ccfd8"
iris = "#c4a7e7"
