add_newline = true
palette = "rose_pine"

[aws]
style = "bold orange"

[directory]
style = "bold iris"

[character]
disabled = false
error_symbol = "[](bold rose)"
success_symbol = "[](bold foam)"

[username]
format = "[$user]($style) on "
style_user = "bold aqua"

[shell]
zsh_indicator = "󱆃 zsh"
bash_indicator = " bash"
fish_indicator = " fish"
nu_indicator = " nu"
disabled = false
style = "gold"

[palettes.rose_pine]
base = "#191724"
surface = "#1f1d2e"
overlay = "#26233a"
muted = "#6e6a86"
subtle = "#908caa"
text = "#e0def4"
love = "#eb6f92"
gold = "#f6c177"
rose = "#ebbcba"
pine = "#31748f"
foam = "#9ccfd8"
iris = "#c4a7e7"
